.btn-book{
    text-decoration: none;
    
}
.card-btn{

    text-decoration: none;
}

.large-card{
    width: 250;
    height: 480px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 20px;
  
}
footer{
    height: 260px;
    justify-content: center;
}
.copyright{
    
}
.apple-icone{
   font-size: 50px;
}


